build
iso
avery.iso
.zig-cache
zig-out
.vscode
disk.img
tools/ionicfs/build
tools/ionicfs/.clang-format
tools/ionicfs/compile_commands.json
tools/ionicfs/CMakeFiles
tools/ionicfs/cmake_install.cmake
tools/ionicfs/CMakeCache.txt
tools/ionicfs/ionicfs
tools/ionicfs/Makefile
tools/ionicfs/.cache
.DS_Store
tools/arf/target
tools/arf/Cargo.lock
Cargo.lock
target
tools/arf/tests/*
!tools/arf/tests/*.asm
tests/*.arf